machine:
  install:
    extraKernelArgs:
      - amd_iommu=on
      - iommu=pt
      - modprobe.blacklist=amdgpu
      - vfio-pci.ids=${join(",", [for device in pci_devices : device.vendor_device])}
  kernel:
    modules:
      - name: vfio_pci
      - name: vfio
      - name: vfio_iommu_type1
%{ if length(node_labels) > 0 ~}
  nodeLabels:
%{ for key, value in node_labels ~}
    ${key}: "${value}"
%{ endfor ~}
%{ endif ~}
