VAULT_TOKEN=

TF_VAR_forgejo_admin_username=admin
TF_VAR_forgejo_admin_password=
TF_VAR_forgejo_admin_email=admin@yuriy-lab.cloud

TF_VAR_rustfs_access_key=
TF_VAR_rustfs_secret_key=
TF_VAR_grafana_admin_username=admin
TF_VAR_grafana_admin_password=
